<h1>Add a new cocktail</h1>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.association :doses %>
  <%= f.association :ingredients %>
  <!-- to read associations document -->
  <%= f.button :submit %>
<% end %>

<!-- not completed -->
