<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %></li>
    <!-- could be written as @cocktail.ingredients too-->
    <!-- wrong memo, need to show ingredient name with ingredient_id -->
    <li><%= dose.description %></li>
    <li><%= link_to 'Delete', dose_path(dose), method: :delete %></li>
  <% end %>
</ul>
<!-- not completed -->

<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Back to list', cocktails_path %>
